.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

#movie-modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: opacity 0.3s ease;
}


.modal-content {
  background-color: #1e1e1e;
  color: #e0e0e0;
  padding: 24px;
  border-radius: 8px;
  width: 90%;
  max-width: 700px;
  position: relative;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	z-index: 2;
}

.modal-details {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.modal-details img {
  max-width: 300px;
  margin: 0 auto;
  border-radius: 4px;
}

.modal-info p {
  margin: 6px 0;
}

.close-button {
  position: absolute;
  top: 12px;
  right: 16px;
  font-size: 28px;
  color: #ccc;
  cursor: pointer;
}

@media (max-width: 800px) {
  .modal-content {
    max-width: 400px;
    padding: 16px;
  }

  .modal-details {
    gap: 12px;
  }

  .modal-details img {
    max-width: 200px;
  }

  .modal-info {
    font-size: 14px;
    line-height: 1.4;
    max-height: 50vh;
    overflow-y: auto;
  }

  .close-button {
    font-size: 24px;
    top: 10px;
    right: 12px;
  }
}

@media (max-width: 600px) {
  .modal-content {
    max-width: 350px;
    padding: 16px;
  }

  .modal-details {
    gap: 10px;
  }

  .modal-details img {
    max-width: 150px;
  }

}
